* {
     box-sizing: border-box;
     font-family: 'Raleway', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 100vh;
  }

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  width: 40%;
  margin: 10%;
}

.main__img-logo {
  width: 100%;
}

.main__img-fist {
  margin-top: 10%;
  width: 100%;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

@media screen and (min-width: 620px) {

  .main {
    margin: 5%;
  }

/* input {
     border: none;
     padding-left: 15px;
     outline: none;
}
 input[type="text"]:focus {
     border-color: #ffc30c;
} */
